<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jskj.wisdom.dao.SNoticeDAO">
    <resultMap id="BaseResultMap" type="com.jskj.wisdom.model.SNotice">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="depict" jdbcType="VARCHAR" property="depict"/>
        <result column="notice_path" jdbcType="VARCHAR" property="noticePath"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_id, create_time, is_delete, remark, update_id, update_time, depict, notice_path,
        status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_notice
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from s_notice
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jskj.wisdom.model.SNotice"
            useGeneratedKeys="true">
        insert into s_notice (create_id, create_time, is_delete,
            remark, update_id, update_time,
            depict, notice_path, status
            )
        values (#{createId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR}, #{updateId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP},
            #{depict,jdbcType=VARCHAR}, #{noticePath,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
            )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jskj.wisdom.model.SNotice"
            useGeneratedKeys="true">
        insert into s_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="depict != null">
                depict,
            </if>
            <if test="noticePath != null">
                notice_path,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="depict != null">
                #{depict,jdbcType=VARCHAR},
            </if>
            <if test="noticePath != null">
                #{noticePath,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into s_notice (create_id, create_time, is_delete,
        remark, update_id, update_time,
        depict, notice_path, status
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.createId,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.isDelete,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR}, #{item.updateId,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.depict,jdbcType=VARCHAR}, #{item.noticePath,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <insert id="insertBatchSelective" keyColumn="id" keyProperty="id" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into s_notice
        (create_id, create_time, is_delete, remark, update_id, update_time, depict, notice_path,
        status)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.createId != null">
                    #{item.createId,jdbcType=BIGINT},
                </if>
                <if test="item.createId == null">
                    NULL,
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.createTime == null">
                    NULL,
                </if>
                <if test="item.isDelete != null">
                    #{item.isDelete,jdbcType=VARCHAR},
                </if>
                <if test="item.isDelete == null">
                    NULL,
                </if>
                <if test="item.remark != null">
                    #{item.remark,jdbcType=VARCHAR},
                </if>
                <if test="item.remark == null">
                    NULL,
                </if>
                <if test="item.updateId != null">
                    #{item.updateId,jdbcType=BIGINT},
                </if>
                <if test="item.updateId == null">
                    NULL,
                </if>
                <if test="item.updateTime != null">
                    #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateTime == null">
                    NULL,
                </if>
                <if test="item.depict != null">
                    #{item.depict,jdbcType=VARCHAR},
                </if>
                <if test="item.depict == null">
                    NULL,
                </if>
                <if test="item.noticePath != null">
                    #{item.noticePath,jdbcType=VARCHAR},
                </if>
                <if test="item.noticePath == null">
                    NULL,
                </if>
                <if test="item.status != null">
                    #{item.status,jdbcType=VARCHAR},
                </if>
                <if test="item.status == null">
                    NULL,
                </if>
            </trim>
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jskj.wisdom.model.SNotice">
        update s_notice
        <set>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="depict != null">
                depict = #{depict,jdbcType=VARCHAR},
            </if>
            <if test="noticePath != null">
                notice_path = #{noticePath,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jskj.wisdom.model.SNotice">
        update s_notice
        set create_id = #{createId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            is_delete = #{isDelete,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            update_id = #{updateId,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            depict = #{depict,jdbcType=VARCHAR},
            notice_path = #{noticePath,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id !=null ">
                id = #{id,jdbcType=BIGINT}
            </if>
            <if test="createId != null">
                and create_id = #{createId,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="updateId != null">
                and update_id = #{updateId,jdbcType=BIGINT}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="depict != null">
                and depict = #{depict,jdbcType=VARCHAR}
            </if>
            <if test="noticePath != null">
                and notice_path = #{noticePath,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    <select id="selectBySelective" parameterType="com.jskj.wisdom.model.SNotice" resultMap="BaseResultMap">
        select
        distinct
        <include refid="Base_Column_List"/>
        from s_notice
        <include refid="searchBy"/>
    </select>
</mapper>